aside {
	background-color: #282828 !important;
	/*border-right: 1px solid #fff;*/
	box-shadow: 0.5px 0px 1px 0.1px #000;
	z-index: 1 !important;
}
aside nav {
	/*background-color: #282828;*/
}
.haven-bg-black {
	background-color: #282828;
}
#body-section {
	width: 100vw;
	height: 100vh;
}
.brand-tag {
	text-shadow: 3px 3px 4px #000;
	font-size: 1.3em;
}
.fxn-btn {
	color: #fff;
}
.fxn-ul {
}
.fxn-ul .fxn-btn:focus  {
}
ul,ol {
	list-style: none;
	margin: 0;
	padding: 0;
}
 @media only screen and (min-width:1200px) {
 	#make-shift-navbar {
		/*margin-left: 14.5%;*/
		border-left: 1px solid #fff;
		box-shadow: 2px 1px 2px 1px #ff9800;
	}
 }
img {
	height: 200px;
}
.funds_output {
	color: #4BB321;
}
.in_stock_span {
	color: #4BB321;
}
.out_of_stock {
	color: #FF4834;
	font-weight: bold;
}
.supplier {
	font-weight: bold;
}
.quantity_in_stock {
	font-size: 0.9em;
	color: #67D8EF;
	font-weight: bold;
}


.stock_ops_div {
	border: 2px solid ##4BB321;
}
.modal_item_name {

}

@keyframes bring_down {
    from {top: -420px;}
    to {top: 0px;}
}
@keyframes go_up {
    from {top: 0px;}
    to {top: -420px;}
}
.stock_modal-body {
	overflow-x: hidden;
	position: absolute;
	z-index: 1070;
}
.stock_modal {
	max-height: 70vh;
	overflow-y: auto;
	animation: bring_down 0.5s;
}
.stock_modal-up {
	/*height: 65vh;*/
	animation: go_up 0.5s;
}
.modal-box-shadow {
	box-shadow: 0px 0px 15px 15px rgba(0, 0, 0, 0.2);
}
.modal-img {
	width: 223px;
}
.closebtn {
	position: absolute;
	right: 15px;
	top: 3px;
	cursor: pointer;
	color: red;
	border: 1px solid red;
}
.closebtn:hover {
	background-color: red;
	color: white;

}
.main-product-info {
	height: 200px;
	width: 230px;

}
div .main-product-info {

}
.main-product-info p, .extra-product-info p {
	line-height: 1.2em;
}
.main-product-info p :first-child,.extra-product-info p :first-child {
	font-family: Arial;
	font-weight: bolder;
}
.main-product-info p :last-child,.extra-product-info p :last-child {
	font-family: Courier;
	white-space: nowrap;
}
div.img-div {
	/*border-color: orange;*/
}
.bg-transparent {
	background-color: transparent;
}
.simple-box {
	box-shadow: 0px 0px 5px 2px #F0F0F0;
	border: 1px solid #e1e1e1;
}